
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Administration</title>
</head>
<body>
    <h2>Administration</h2>

    <a class="btn btn-success" asp-controller="UserIdent" asp-action="Index">Show the list of users</a>
    <br />
    <a class="btn btn-success" asp-controller="Roles" asp-action="Index">Managing roles</a>
    <br />
  
</body>
</html>
