<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Administration</title>
</head>
<body>
    <h2>News update </h2>

<a class="btn btn-success" asp-controller="News" asp-action="AutoRefresh">Refresh auto</a>
<br />
<a class="btn btn-success" asp-controller="News" asp-action="RefreshS13">Refresh News from S13</a>
<br />
<a class="btn btn-success" asp-controller="News" asp-action="RefreshOnliner">Refresh News from Onliner</a>
<br />


</body>
</html>
